<header class="sticky top-0 z-10 shadow-lg">
    <div class="bg-primary-800 dark:bg-primaryDark-800">
        <div class="container flex flex-col flex-wrap items-center justify-between gap-2 px-4 py-2 mx-auto sm:flex-row xl:max-w-screen-xl">
            <a href="{{ config('logo_link') }}" class="flex items-center px-4 pt-6 pb-3 -mt-2 bg-white rounded-b-3xl">
                <img src="{{ asset('images/logo.svg') }}" width="{{ config('logo_width') }}" height="{{ config('logo_height') }}" alt="Logo {{ config('site_title') }}" >
            </a>

            <div class="flex-1 max-w-xl">
                {% include 'components/search.twig' %}
            </div>
        </div>
    </div>

    <div class="bg-primary-800 dark:bg-primaryDark-800">
        <div class="container flex flex-wrap items-center justify-between px-4 py-2 mx-auto space-x-6 md:flex-row xl:max-w-screen-xl">
            {% include 'components/breadcrumbs.twig' %}

            {% if path and files is not empty and config('zip_downloads') %}
                <a href="{{ zip_url(path) }}" title="{{ translate('download') }}" rel="nofollow"
                    class="flex items-center justify-center w-8 h-8 text-sm text-white rounded-full hover:bg-gray-300 hover:bg-opacity-20"
                >
                    <i class="fas fa-download fa-lg"></i>
                </a>
            {% endif %}

            <div class="flex items-center justify-center w-6">
                {% include 'components/theme-toggle.twig' %}
            </div>
        </div>
    </div>
</header>
