{% extends "layouts/app.twig" %}

{% block content %}
    {% include "components/header.twig" %}

    <div class="container flex flex-col flex-grow px-4 mx-auto xl:max-w-screen-xl dark:text-white">
        <div class="my-4">
            <div class="flex justify-between p-4 font-bold">
                <div class="flex-grow mr-2 font-mono">
                    {{ translate('file.name') }}
                </div>

                <div class="hidden w-1/6 mx-2 font-mono text-right sm:block">
                    {{ translate('file.size') }}
                </div>

                <div class="hidden w-1/4 ml-2 font-mono text-right sm:block">
                    {{ translate('file.date') }}
                </div>
            </div>

            <ul>
                {% if path and path != '.' %}
                    <li>
                        {{ include('components/file.twig', { parentDir: true }) }}
                    </li>
                {% endif %}

                {% for file in files %}
                    <li>
                        {{ include('components/file.twig') }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if readme %}
            {% include 'components/readme.twig' %}
        {% endif %}
    </div>

    {% include 'components/footer.twig' %}

    {% include 'components/scroll-to-top.twig' %}

    {% include 'components/file-info-modal.twig' %}
{% endblock %}
